
.SearchBar {
    width: 90%;
    height: 160px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search-bar--container {
    width: 100%;
    height: 50px;
    padding: 3px 12px 3px 12px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 12px rgba(171, 171, 171, 0.1);
}
#search-input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    background: none;
}

.search-side-bar--container {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-bar-icon {
    cursor: pointer;
    width: 18px;
    color: gray;
}

.search-bar-filter {
    z-index: -1;
    transform: translateY(-100%);
    width: 100%;
    height: 60%;
    padding: 3px 12px 3px 12px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all .25s ease;
}

.toggle-filters-icon {
    cursor: pointer;
}

/* state bar */
.filter-states--container {
    width: 100px;
    border-radius: 3px;
}
.state-filter-bar {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: none;
}


/* category bar */
.category-bar-filter--active {
    overflow-x: scroll;
    transition: all .25s ease;
    display: flex;
    transform: translateY(0%);
    max-width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0 3px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
}

.CategoryLayout {
    cursor: pointer;
    min-width: 90px;
    height: 90px;
    margin-left: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ffffff00;
    transition: all .25s ease;
    /* border-right: 1px solid rgba(128, 128, 128, 0.345); */
}
.CategoryLayout:hover
{
    background: rgba(128, 128, 128, 0.162);
    transition: all .25s ease;
}
.CategoryLayout--active {
    background: rgba(128, 128, 128, 0.162);
}

.category-icon {
    width: 30px;
}
.category-name {
    color: rgb(52, 52, 52);
    font-size: 12px;
}
