
.AdItem {
    cursor: pointer;
    min-width: 190px;
    max-width: 189px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all .25s ease;
}
.AdItem:hover {

    transition: all .25s ease;
}

.ad-item-body {
    width: 100%;
    height: 140px;
}

.ad-item-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 6px 6px;
}

.ad-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 22px rgba(82, 82, 82, 0.3);
}

.ad-item-name {
    font-size: 13px;
    text-align: center;
    color: rgb(69, 69, 69);
}
.ad-item-price {
    font-size: 16px;
    text-align: center;
    color: rgb(49, 49, 49);
}

#see-details-link {
    padding: 6px 40px;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    background: rgb(0, 0, 0);
}
