
.AdItem {
    cursor: pointer;
    min-width: 200px;
    max-width: 200px;
    height: 270px;
    margin-left: 20px;
    transition: all .25s ease;
    border-radius: 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.10);
}
.AdItem:hover {
    /* box-shadow: 0 0 22px rgba(82, 82, 82, 0.3); */
    transition: all .25s ease;
}

.ad-item-inner--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.ad-item-body {
    width: 100%;
    height: 140px;
    padding: 10px;
}

.ad-item-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 6px 6px;
}

.ad-item-footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ad-item-name {
    font-size: 13px;
    text-align: center;
    color: rgb(69, 69, 69);
}
.ad-item-price {
    font-size: 16px;
    text-align: center;
    color: rgb(49, 49, 49);
}

#see-details-link {
    color: #000000;
    border-radius: 0;
    font-size: 14px;
    padding: 6px 54px;
}
