
.Header {
    width: 100%;
    height: 220px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-header--container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-left--container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-central--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40%;
}

.header-right--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.bottom-header--container  {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width: 630px) {
    .header-central--container {
        width: 80%;
    }
}
