
.AuthLayout {
    min-width: 220px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.link {
    text-decoration: none;
}

.header-link {
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 13px;
}

.signin-link {
    background: rgba(0, 0, 0, 0.02);
    color: rgb(63, 63, 63);
    transition: all .25s ease;
}
.signin-link:hover {
    background: rgba(0, 0, 0, 0.005);
    transition: all .25s ease;
}

.detach-link {
    color: #ffffff;
    background: linear-gradient(#ff6b00, #ff3d00);
    transition: all .25s ease;
}
.detach-link:hover {
    background: linear-gradient(#ff6a009e, #ff3c0081);
    transition: all .25s ease;
}

.my-account-button--container { 
    cursor: pointer;
    height: 30px;
    width: 120px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-account-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3px;
    font-size: 13px;
    background: none;
}

.my-account-avatar--container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
}
.my-account-link-info {
    width: 80%;
    height: 100%;
}
.my-account-link-info-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrow-down-icon {
    width: 16px;
}

@media screen and (max-width: 630px) {
    .my-account-button--container {
        display: none;
    }
}
