
.Footer {
    background-color: #F2F2F2;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-content--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-left--container, .footer-right--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links--container {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-logo--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}
.footer-social-links--container {
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-link {
    cursor: pointer;
    color: rgb(81, 81, 81);
    transition: all .25s ease;
}
.social-link:hover {
    color: rgba(81, 81, 81, 0.472);
    transition: all .25s ease;
}

.footer-links--container ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
}

.footer-link  {
    text-align: center;
    cursor: pointer;
    color: rgb(81, 81, 81);
    font-size: 12px;
    transition: all .25s ease;
}
.footer-link:hover {
    color: rgba(81, 81, 81, 0.472);
    transition: all .25s ease;
}

@media screen and (max-width: 800px) {
    .footer-content--container {
        flex-direction: column;
    }
    .footer-links--container ul  {
        width: 100%;
        height: 100%;
    }
    .footer-social-links--container  {
        height: 50%;
    }
}