
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: emirates-medium;
  outline: none;
}

body {
  background: #f5f5f5;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  border: none;
  outline: none;
}

.fm-sign--container {
  width: 320px;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}

/* hide scrollbar for Chrome, Brave, Opera*/
*::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar for Firefox, ID, Edge */
* { 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: emirates-medium;
  src: url(../public/fonts/EmiratesMedium/Emirates\ Medium.ttf);
}
