
.PromoBanner {
    width: 100%;
    height: 200px;
    padding: 12px 20px 12px 20px;
}

.promo-banner-inner--container {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding-left: 10%;
    justify-content: center;
    background-image: url('../../../public/media/images/backgrounds/olx-promo-banner-4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 22px rgba(56, 56, 56, 0.3);
}

.promo-banner-link {
    padding: 6px 30px 6px 30px;
    color: #ffffff;
    background-color: black;
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .promo-banner-inner--container {
        background-image: url('../../../public/media/images/backgrounds/olx-promo-banner-mobile-4.png');
    }
}
